body {
   color: white;
   background:black; 
   margin: 0px; 
}

header {
   border-bottom: solid 2px rgb(70, 71, 169);
   padding: 20px;
   font-size: 30px;
   color: rgb(70, 71, 169); 
}

section {
   background: rgb(5, 5, 23); 
   padding-bottom: 80px;
   padding-top: 80px;
   display: flex;
   justify-content: center;
}

.chamada-texto { 
   margin-right: 5%;
}